[user]
	name        = Loïc Frering
	email       = loic.frering@gmail.com
[color]
	ui          = true
[alias]
	st          = status -sb
	lol         = log --graph --decorate --pretty=oneline --abbrev-commit
	lola        = log --graph --decorate --pretty=oneline --abbrev-commit --all
[help]
	autocorrect = 1
